/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

footer {
    margin-top: 20px;
}

/* Estilo do container principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Estilos para as seções flexíveis */
.flex-container1, .flex-container2, .flex-container3 {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo dos projetos */
.flex-projeto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.projeto {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo da seção de contato */
.contato {
    text-align: center;
}
